/Code/python_scripts/trial_generation_for_experiment_1/simulation_trial_dir
/Code/python_scripts/simulation_scripts/simulation_results_with_entropy
/Code/python_scripts/analysis_scripts/subsets
/Code/python_scripts/analysis_scripts/results

